*{
  margin: 0;
  padding: 0;
}
.btn {
  padding: 7px 15px;
  background-color: aquamarine;
  border: none;
  color: #2a2a2a;
  font-size: 13px;
  outline: none;
  cursor: pointer;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}